/* global css section */

*{
    padding: 0;
    margin:0;
}

@media (min-width: 1400px){

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px !important;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

/* header section css */
header{
    width: 100%;

}

/* top header section */

.top-header{
    background-color: #eaefff;


}

.top-header .left span{
    color: #fe5c24;
    font-size: 14px;
    margin-right: 16px;
}

.top-header .left a{
    color: #0c3e72;
    font-size: 14px;
    margin: 0 15px;
    text-decoration: none;
}

.top-header .right span{
    font-size: 14px;
    color: #0c3e72;
    margin-right: 16px;
}

.top-header .right span i{
    color: #fe5c24;
    margin-right: 6px;


}

.top-header ul li a i{
    font-size: 14px;
    color: #0c3e72;
    margin: 0 15px;
}

/* main section css */
.custom-btn{
    background: #fe5c24;
    padding: 16px 32px;
    color: white;
    font-size: 16px;
    border: none;
    transition: 0.5s;
  
}

.custom-btn:hover{
    background-color:#0c3e72;
    transition: 0.5s;
}

.nav-link{
    color: #0c3e72 !important;
}
.nav-item{
    margin: 0 14px;
}

.nav-link:hover{
    color: #fe5c24!important;

}


/* header section css */

/* Banner section css start*/
#banner{
    width: 100%;
    height: 90vh;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}

.b-content{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.b-content h1{
    font-size: 120px;
    font-weight: 600;
    color: white;
}

.b-content p{
    font-size: 24px;
    color: #fff;
  
}

.banner-btn{
    margin-top: 60px;
    background-color: #2493e0;
    padding: 23px 79px;
    border: none;
    color: white;
    transition: 0.5s;
    

}

.banner-btn:hover{
    background-color: #fe5c24;
   transition: 0.5s;
}
/* Banner section css end */

/* search section css start */
/* #search{

} */

.search-wrapper{
    margin-top: -72px;
    background-color: white;
}

/* .trigger-item{
   
} */

.trigger-item ul li{
    padding: 24px;
    position: relative;
    display: inline-block;
}

.s-form{
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(221,221,221,.3);
    padding: 40px;
}

.line{
    height: 2px;
    width: 100%;
    background-color: #2493e0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.s-form form select{
    width: 100%;
    border-color: #2493e0;
    border-radius: 0;
    color: #2493e0;
    border: 1px solid #2493e0;
    align-items: center;
    padding: 16px 24px;
}

.form-row{
    display: flex;
    justify-content: space-between;
}
/* search secion css end */

/* places section code */
#places{
    width: 100%;
    padding: 100px 0;
}

.section-title{
    margin-bottom: 32px;
    text-align: center;
}

.section-title h2{
    font-size: 46px;
    color: #0c3e72;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;
}

.section-title p{
    color: #777;
    font-weight: 400;
    margin-bottom: 70px !important;
}


.p-item{
    position: relative;
    
}

.p-item::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2493e0;
    opacity: 0;
    width: 100%;
    transition: 0.5s;

}

.p-item:hover::before{
    opacity: 0.8;
    transition: 0.5s;

}

.p-content{
    position: absolute;
    bottom: 30px;
    left: 40px;
    opacity: 0;
    transition: 0.5s;

}

.p-item:hover .p-content{
    opacity: 1;
    transition: 0.5s;
    transform:translatey(-10px);
    transition: 1s;
}
.p-content a{
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #fe5c24;
    text-transform: capitalize;
    margin-bottom: 14px;
    
}
.p-content h3{
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 0;
    
}
.p-content p{
    font-size: 16px;
    margin-bottom: 16px;
    color: #fff;
}
.p-content span{
    color: white;
    
}

.p-content span i{
    color: #fe5c24 !important;
    
}

.place-btn{
    display: flex;
    justify-content: center ;
    margin-top: 56px;
}

.place-btn a{
    color: white;
}

/* places section code end */

/* event slider code start */
#event-slider{
    width: 100%;
    padding: 120px 0px;
    background-image: url(../img/eventcover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.slider-box{
    background-color: white;
    padding: 60px;

}

.slider-box h6{
    color: #fe5c24;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1.2em;
}

.slider-box h3{
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 30px;
    color:#0c3e72
}

.slider-box p{
    margin-bottom:20px ;
    color: #848484;
    font-size: 16px;
    font-weight: 400px;
}

.slider-box a{
    color:white;
}

.slider-box p span{
    color: #0c3e72;
}

.slider-box p span i{
    color: #ffc962;
    margin-bottom: 32px;
}
 
#event-slider .owl-dots{
    display: none;
}
#event-slider .owl-prev{
    position: absolute;
    color: #fe5c24;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    font-size: 32px;
    border-radius: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight:400;
}

#event-slider .owl-next{
    position: absolute;
    color: #fe5c24;
    right: -100px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 60px;
    font-size: 32px;
    border-radius: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight:400;
}


/* event slider code end */
/* popular section css */

#popular-hotel{
width: 100%;
padding: 100px 0;    
}

.place-review i{
    color: #ffc962;
}
#popular-hotel .place-review p{
    color: #777;
    margin-top: 6px;

}
 .place-review h5 span{
    color: #fe5c24;
}


.place-review h5{
    color: #0c3e72;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.hotel-banner{
    margin-bottom: 24px;
}
#popular-hotel h3{
    color: #0c3e72;
    font-size: 24px;
    margin-bottom: 21px;
    
}

.h-item{
    border-bottom: 1px solid #ced8e3;
   
}

.hotel-link a i{
        background-color: rgba(255, 255, 255, 0.5);
        height:40px;
        width: 40px;
        color: white;
        text-align: center;
        line-height: 40px;
        border-radius: 100%;
}

.hotel-link div a i{
    background-color: rgba(255, 122, 75, 0.7 );
    margin-bottom: 10px;
}

.hotel-banner{
    position: relative;

}


.hotel-link{
    position: absolute;
    bottom: 20px;
    right: 20px;
   

}

.hotel-link div{
   
    transform: scaleY(0);
    transition: 0.5s;
    margin-bottom: 10px;
}

.hotel-link:hover div{
    transform: scaleY(1);
    transition: 0.5s;

}

.h-share{
    transform: scaleX(1);
    transition: 0.5s;

}

.hotel-link:hover .h-share{
    transform: scaleX(0);
    transition: 0.5s;
}


/* popular section css end */

/* testimonial section css */
#testimonial{
    width: 100%;
    padding: 120px 0px;
    background-color: #0c3e72;
    margin-top: 100px;
}


.t-card{
    background-color: #0e477d;
    padding: 32px;
}



.t-card p{
    padding: 26px 0px;
    color: white;

}

.t-card h6{
    color: white;
}
#testimonial .review-star{
    color: #ffc962;
    display: inline-block;
}

#testimonial .owl-dots{
    display: none;
}

#testimonial .section-title h3{
    color: white;
    font-size: 46px;
    
    font-weight: 500; 
    margin-bottom: 60px;
    text-align: start;
}

#t-row{
    position: relative;
}
#testimonial .owl-next{
    background: #2493e0;
    border-radius: 0%;
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    top: -100px;
    right: 8px;
    font-weight: 100;

}

#testimonial .owl-prev{
    background: #2493e0;
    border-radius: 0%;
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    top: -100px;
    right: 60px;
    font-weight: 100;
    
}

/* best services css start */

.bestservices{
    width: 100%;
    padding: 120px 0;
}

.bestservices .section-title h6{
    font-size: 46px;
    color: #0c3e72;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 26px;
}

.bestservices .section-title p{
    color: #777;
    font-weight: 400;
}


.s-item h3{
    margin-top: 30px;
    font-size: 24px;
    color: #0c3e72;
   margin-bottom: 0px !important;
    
}

.s-item p{
    font-size: 16px;
    color: #a2a2a2;
    margin-top: 12px;
}
/* best services css end */
/* footer section css start */

footer{
    width: 100%;
    padding: 120px 0;
    background-color: #162b45;
}

.footer-content ul{
    columns: 2;


}

.footer-content h4{
    color: white;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;

}

.footer-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.5s;

}

.footer-content ul li a:hover{
    color: #fe5c24;
    transition: 0.5s;
}

.footer-content ul li{
    padding-top: 16px;
}

.footer-content ul{
    list-style: none;
    margin: 0;
    padding-left: 0 !important;
}
.footer-content p{
    color: white;
   

}

.footer-content form input{
    height: 50px;
    border: none;
    width: 67% !important;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    color: #999;
    background-color: #092742;
    border: 0 solid transparent;
  
}

.footer-content form input:focus{
    box-shadow: none;
    outline: none;
    
}
.footer-content form a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer-content form a i{


    background-color: #fe5c24;
    color: #fff;
    border-radius: 0;
    padding: 18px 20px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    margin-left: 0 !important;
    


}

.footer-content .subscribe-txt{
    margin-top: 20px;
}

.footer-content h6{
    color: white;
    margin-bottom: 24px;
}

.footer-content span{
    color: #fe5c24;


}

.footer-content .s-icons i{
    color: white;
    margin-top: 30px;
    padding: 0px 8px ;
    transition: 0.5s;
}

.footer-content .s-icons i:hover{
    color: #fe5c24;
    transition: 0.5s;
    cursor: pointer;

}

.copyright{
    width: 100%;
    padding: 32px 15px;
    background-color: #092742;

}
.copyright p{
 color: white;
 text-align: center;

}


/*footer section css end */

